.navbar{
  width: 100%;
  background-color: pink;
  display: flex;
  height: 40px;
align-items: center;

 
}

.logo{
font-size: 20px;
  width: 40%;
  text-align: center;
  

}

.links{

  font-size: 20px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;


}


.App {
  width: 100%;

}

.content{
  width: 100%;
  margin-top: 100px;



}

.blog{

 padding: 50px;
  text-align: center;
  background-color: grey;
  
}